* {
  font-family: 'Merriweather', serif;
  font-weight: 100;
  box-sizing: border-box;
  color: lightblue;
  }

  body{
    background-color: #111926;
  }

.main-heading {
  text-align: center;
  margin: 0;
  padding: 30px 0 10px 0;
}

.sub-heading{
  text-align: center;
  font-size: 1rem;
  text-decoration: underline;
    margin: 0;
    padding: 0 0 30px 0;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0;
  display: flex;

  &__add-item {
    flex: 1;
    text-align: center;
    background-color: #002560;

    &__heading {}

    &__form {
      display: flex;
      flex-direction: column;

      &__textarea {
        margin: 20px;
        resize: none;
        height: 50px;
        color: #000;
      }

      &__submit {
        margin: 20px;
        height: 50px;
        background-color: lightblue;
        border: 0;
        color: #000;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  &__to-do-list {
    flex: 1;
    background-color: #0045b5;

    &__heading {
      text-align: center;
      margin: 20px;
      color: white;
    }

    &__list-items {
      text-align: left;
      margin: 35px;

      li{
        padding: 10px;
        color: white;

        &:nth-child(odd){
          background-color: lightblue;
          color:   #002560;
        }
        &:nth-child(even){
          background-color:   #002560;;
        }
            }

      &__remove {
        float: right;
        color: red;
        font-weight: bold;
        font-size: 1.3rem;
       padding-bottom: 5px;;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 990px) {
  .container {
    width: 98%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    flex-wrap: wrap;

    &__add-item {
      flex-basis: 98%;
    }

    &__to-do-list {
      flex-basis: 98%;
      margin-top: 10px;
    }
  }
}
